<p>
    <a href="http://www.prb2.org/" target="_blank" class="external" title="Plataforma en Red de Recursos Biomoleculares y Bioinformáticos"><img src="{{ STATIC_URL }}imgs/prb2_logo.png" style="margin: 2px 10px 2px 10px;"/></a>
    <a href="http://www.isciii.es" target="_blank" class="external" title="Instituto de Salud Carlos III"><img src="{{ STATIC_URL }}imgs/carlos_3_logo.png" style="margin: 2px 10px 2px 10px;"/></a>
    <a href="http://www.csic.es" target="_blank" class="external" title="Consejo Superior de Investigaciones Científicas"><img src="{{ STATIC_URL }}imgs/csic_logo.png" style="margin: 2px 10px 2px 10px;"/></a>
    <a href="http://www.micinn.es/" target="_blank" class="external" title="Ministerio de Economía y Competitividad"><img src="{{ STATIC_URL }}imgs/micinn_logo.png" style="margin: 2px 10px 2px 10px;"/></a>
</p>
